# IDE specific
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
venv/
.venv/
/home/rsn/dj-homeworks/2.1-databases/models_list_displaying/.library
/home/rsn/dj-homeworks/2.1-databases/work_with_database/.phones
/home/rsn/dj-homeworks/3.1-drf-intro/smart_home/.smart_home
3.3-permissions/api_with_restrictions/.permissions

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store